<nav class="sidebar">
    <ul>
        <li><a class="nav-link" routerLink="/tasks">Список задач</a></li>
        <li *ngIf="isEditorOrAdmin()"><a class="nav-link" routerLink="/my-deletion-requests">Мои запросы на удаление</a>
        </li>
        <li *ngIf="isAdmin()"><a class="nav-link" routerLink="/deletion-requests">Запросы на удаление задач</a></li>
        <li *ngIf="isAdmin()"><a class="nav-link" routerLink="/deletion-queue">Очередь задач на удаление</a></li>
        <li *ngIf="isEditorOrAdmin()"><a class="nav-link" routerLink="/versions">Версии</a></li>
        <li *ngIf="isAdmin()"><a class="nav-link" routerLink="/users">Управление пользователями</a></li>
        <li><a class="nav-link" routerLink="/submissions">Мои решения</a></li>
        <li><a class="nav-link" routerLink="/profile">Профиль</a></li>
    </ul>
</nav>